<div class="h-full w-full dark:bg-gray-600 p-6" style="overflow: hidden">
  <div class="text-gray-400 dark:text-neutral-100">
    <h2 class="text-md ms-3">{{ client.name+' - Documentations' }}</h2>
  </div>
  <hr class="my-5 h-0.5 border-t-0 bg-neutral-100 opacity-100 dark:opacity-50" />
  <div class="mb-3">
    <nav class="flex flex-col sm:flex-row">
      <button class="py-4 px-6 block hover:text-blue-500 focus:outline-none" [ngClass]="isListDocumentsPage? 'text-blue-500 border-blue-500 border-b-2 font-medium':'dark:text-white'" (click)="togglePage();">
        Documents
      </button>
      <button class="py-4 px-6 block hover:text-blue-500 focus:outline-none" [ngClass]="!isListDocumentsPage? 'text-blue-500 border-blue-500 border-b-2 font-medium':'dark:text-white'" (click)="togglePage();">
      Add document
    </button>
    </nav>
  </div>
  @if (isListDocumentsPage){
    <app-document-list [clientId]="client.id"></app-document-list>
  } @else {
    <app-choose-document-type (isValid)="typesValid($event)" (types)="getTypes($event)"></app-choose-document-type>
    <div *ngIf="isTypeValid">
      <app-contract-document-form (formGroupp)="getFormGroup($event)"></app-contract-document-form>
      <app-pick-file (onFileSelected)="itemSelected($event)"></app-pick-file>
    </div>
  }
  <div class="w-full flex flex-row mt-3">
    <button (click)="send();" [disabled]="!formGroup || !formGroup.valid || !file || !isTypeValid" class="mr-3 bg-[#386097] dark:bg-[#56BDED] hover:bg-[#4576ba] dark:hover:bg-[#75c9f0] text-white font-semibold rounded-md py-2 px-4 w-1/4 disabled:bg-gray-400 disabled:hover:bg-gray-400 dark:disabled:hover:bg-gray-400" *ngIf="!isListDocumentsPage">Send</button>
    <button (click)="close();" class="bg-red-500 hover:bg-red-400 text-white font-semibold rounded-md py-2 px-4 w-1/4">Close</button>
  </div>
</div>

