<div class="container p-6">
  <h2 class="text-gray-600 dark:text-gray-300 mb-6">Edit connection Subservice LE</h2>
  <form [formGroup]="subserviceLEForm">
    <div class="grid grid-cols-2 gap-4">
      <div>
        <div class="flex justify-center text-gray-600 dark:text-gray-300">Subservice</div>
        <div class="flex justify-center text-gray-400 mb-3 dark:text-neutral-100">
          <input type="text" formControlName="subservice" [matAutocomplete]="autoSubservice" class="customNumberInput w-3/4 border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500 dark:bg-gray-600"
                 [ngClass]="subserviceLEForm.get('subservice').touched && !subserviceLEForm.get('subservice').valid ? 'border-red-500':''" autocomplete="new-country">
          <mat-autocomplete #autoSubservice="matAutocomplete" class="bg-white dark:bg-gray-600">
            @for (subservice of SANDS.subservices; track subservice){
              <mat-option [value]="subservice.name" (click)="subserviceClick(subservice)">{{subservice.name}}</mat-option>
            }
          </mat-autocomplete>
        </div>
        <label class="text-xs text-red-500 block text-center" *ngIf="subserviceLEForm.get('subservice').touched && !subserviceLEForm.get('subservice').valid">Must select service.</label>
      </div>
      <div>
        <div class="flex justify-center text-gray-600 dark:text-gray-300">Legal Entity</div>
        <div class="flex justify-center text-gray-400 mb-3 dark:text-neutral-100">
          <input type="text" formControlName="le" [matAutocomplete]="autoLe" class="customNumberInput w-3/4 border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500 dark:bg-gray-600"
                 [ngClass]="subserviceLEForm.get('le').touched && !subserviceLEForm.get('le').valid ? 'border-red-500':''" autocomplete="new-country">
          <mat-autocomplete #autoLe="matAutocomplete" class="bg-white dark:bg-gray-600">
            @for (le of leService.getLEList(); track le){
              <mat-option [value]="le.shortName" (click)="leClick(le)">{{le.shortName}}</mat-option>
            }
          </mat-autocomplete>
        </div>
        <label class="text-xs text-red-500 block text-center" *ngIf="subserviceLEForm.get('le').touched && !subserviceLEForm.get('le').valid">Must select service.</label>
      </div>
    </div>
    <div>
      <button (click)="edit();"
              class=" w-full my-5 middle none center mr-4 rounded-lg bg-[#386097]
    py-3 px-6 font-sans text-xs font-bold uppercase text-white
    shadow-md shadow-blue-500/20 transition-all hover:shadow-lg
    hover:shadow-blue-500/40 focus:opacity-[0.85]
    focus:shadow-none active:opacity-[0.85] active:shadow-none
    disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none dark:bg-[#56BDED]"
              data-ripple-light="true">Edit
      </button>
    </div>
  </form>
</div>
