<div class="mb-3 p-3 text-gray-400 mb-3 dark:text-neutral-100" >
  <label for="formFile"><span class="text-red-500 dark:text-red-400">*</span>Choose file</label>
  <input
    class="relative m-0 block w-full min-w-0 flex-auto cursor-pointer rounded border border-solid border-secondary-500
    bg-transparent bg-clip-padding px-3 py-[0.32rem] text-base font-normal text-surface transition duration-300 ease-in-out
    file:-mx-3 file:-my-[0.32rem] file:me-3 file:cursor-pointer file:overflow-hidden file:rounded-none file:border-0 file:border-e file:border-solid
    file:border-inherit file:bg-transparent file:px-3  file:py-[0.32rem] file:text-surface focus:border-primary focus:shadow-inset
    focus:outline-none dark:border-white/70 dark:text-white  file:dark:text-white"
    type="file"
    id="formFile"
    accept="application/pdf"
    (change)="onFileChange($event)"/>
</div>
