<form [formGroup]="saveDockForm">
  <div class="text-gray-400 mb-3 dark:text-neutral-100">
    <div class="inline-block w-2/4 pr-2">
      <div class="text-gray-600 dark:text-gray-300">Documnet type:</div>
      <select formControlName="typeOfDockument" class="dark:hover:border-[#56BDED] hover:border-[#386097] rounded border
     w-full bg-white border-gray-400  text-gray-400 mb-3 dark:text-neutral-100 py-2 px-4 pr-8
    leading-tight focus:outline-none focus:bg-white dark:focus:border-[#56BDED] focus:border-[#386097]
    dark:bg-gray-600 dark:hover:bg-gray-600 dark:focus:bg-gray-600"
              [ngClass]="saveDockForm.get('typeOfDockument').touched && !saveDockForm.get('typeOfDockument').valid ? 'border-red-500':''">
        @for(type of documentTypes; track type){
          <option [ngValue]="type">{{ type.typeName }}</option>
        }
      </select>
    </div>
    <div class="inline-block w-2/4 pl-2" *ngIf="documentSubTypes.length>0">
      <div class="text-gray-600 dark:text-gray-300">Documnet subtype:</div>
      <select formControlName="subTypeOfDocument" class="dark:hover:border-[#56BDED] hover:border-[#386097] rounded border
     w-full bg-white border-gray-400  text-gray-400 mb-3 dark:text-neutral-100 py-2 px-4 pr-8
    leading-tight focus:outline-none focus:bg-white dark:focus:border-[#56BDED] focus:border-[#386097]
    dark:bg-gray-600 dark:hover:bg-gray-600 dark:focus:bg-gray-600"
              [ngClass]="saveDockForm.get('subTypeOfDocument').touched && !saveDockForm.get('subTypeOfDocument').valid ? 'border-red-500':''">
        @for(subType of documentSubTypes; track subType){
          <option [ngValue]="subType">{{ subType.subTypeName }}</option>
        }
      </select>
    </div>
  </div>
</form>
