<div class="cdcmWrapper">
  <button (click)="dialogCDCM();" [disabled]="createCDCMDisable"
          class="hover:cursor-pointer my-5 middle none center mr-4 rounded-lg bg-[#386097]
    py-3 px-6 font-sans text-xs font-bold uppercase text-white
    shadow-md shadow-blue-500/20 transition-all hover:shadow-lg
    hover:shadow-blue-500/40 focus:opacity-[0.85]
    focus:shadow-none active:opacity-[0.85] active:shadow-none
    disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none dark:bg-[#56BDED]"
          data-ripple-light="true">Add CDCM
  </button>PY
  <div class="grid grid-cols-3 gap-2 w-full">
    @for (cdcm of cdcmService.cdcmList; track cdcm) {
      <app-cdcm-card [cdcm]="cdcm" *ngIf="cdcm.statusID<=3"></app-cdcm-card>
    }
    @if (approval){
      <app-approval-card [approval]="approval" *ngIf="approval.approvalStatus.ID<3"></app-approval-card>
    }
    <div>
      @for (cdcm of cdcmService.cdcmList.slice().reverse(); track cdcm){
        <app-cdcm-inactive-card [cdcm]="cdcm" *ngIf="cdcm.statusID>3" (click)="openCDCMView(cdcm)">{{cdcm.ID}}</app-cdcm-inactive-card>
      }
    </div>
  </div>
</div>
