<div class="container mx-auto p-6 pt-20 dark:bg-gray-600 h-full">

  <button (click)="createDeal();" [disabled]="createDealDisable"
          class="my-5 middle none center mr-4 rounded-lg bg-[#386097]
    py-3 px-6 font-sans text-xs font-bold uppercase text-white
    shadow-md shadow-blue-500/20 transition-all hover:shadow-lg
    hover:shadow-blue-500/40 focus:opacity-[0.85]
    focus:shadow-none active:opacity-[0.85] active:shadow-none
    disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none dark:bg-[#56BDED]"
          data-ripple-light="true">Create new project
  </button>


  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          ID
        </th>
        <th scope="col" class="px-6 py-3">
          Date
        </th>
        <th scope="col" class="px-6 py-3">
          Service
        </th>
        <th scope="col" class="px-6 py-3">
          Subservice
        </th>
        <th scope="col" class="px-6 py-3">
          Client
        </th>
        <th scope="col" class="px-6 py-3">
          Legal Entity
        </th>
        <th scope="col" class="px-6 py-3">
          BD Consultant
        </th>
        <th scope="col" class="px-6 py-3">
          Status
        </th>
      </tr>
      </thead>
      <tbody>
        @for (deal of dealsArr; track deal) {
          <tr (click)="onProjectClick(deal)"
            class="hover:cursor-pointer odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700 dark:hover:bg-gray-700 hover:bg-gray-100" >
            <th scope="row" class="px-6 py-4 text-[#386097] font-bold whitespace-nowrap dark:text-[#56BDED]">
              {{ deal.ID }}
            </th>
            <td class="px-6 py-4">
              {{ deal.createdDate | date:'dd.MM.yyyy'}}
            </td>
            <td class="px-6 py-4">
              {{ deal.service.name }}
            </td>
            <td class="px-6 py-4">
              {{ deal.subservice.name }}
            </td>
            <td class="px-6 py-4">
              {{ deal.client.name }}
            </td>
            <td class="px-6 py-4">
              {{ deal.legalEntity.shortName }}
            </td>
            <td class="px-6 py-4">
              @if(deal.BDOwner.profilePicUrl){
                <img class="w-6 h-6 rounded-full inline-block" [src]='deal.BDOwner.profilePicUrl' alt="Rounded avatar" style="object-fit: cover;">
              }

              {{ deal.BDOwner.firstName +" "+ deal.BDOwner.lastName }}
            </td>
            <td class="px-6 py-4">
              @if (deal.status.ID===5){
                <span class="text-green-500 dark:text-green-400">{{ deal.status.name }}</span>
              }@else{
                {{ deal.status.name }}
              }

            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
