<p>approvals works!</p>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3">
        ID
      </th>
      <th scope="col" class="px-6 py-3">
        Name
      </th>
      <th scope="col" class="px-6 py-3">
        isSequential
      </th>
    </tr>
    </thead>
    <tbody>
      @for (approval of approvals; track approval) {
        <tr
          class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700 dark:hover:bg-gray-700 hover:bg-gray-100" (click)="onTemplateCliclk(approval)">
          <th scope="row" class="px-6 py-4 text-[#386097] font-bold whitespace-nowrap dark:text-[#56BDED]">
            {{ approval.ID }}
          </th>
          <td class="px-6 py-4">
            {{ approval.name }}
          </td>
          <td class="px-6 py-4">
            {{ approval.isSequential }}
          </td>

        </tr>
      }
    </tbody>
  </table>
</div>
