<!--bg-gray-50 dark:bg-gray-700-->
<section class="container mx-auto p-6 dark:bg-gray-600 text-gray-500 dark:text-gray-400">

  <div class="actions mt-14">
    <div class="w-7 mr-2 transform dark:hover:text-[#56BDED] hover:text-[#386097] text-[#386097] dark:text-[#56BDED] hover:scale-110" title="Change password" (click)="onChangePassClick();">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path d="M9 17.5C9 18.8807 7.88071 20 6.5 20C5.11929 20 4 18.8807 4 17.5C4 16.1193 5.11929 15 6.5 15C7.88071 15 9 16.1193 9 17.5ZM9 17.5H15.125M19 20V17.75C19 17.6119 18.8881 17.5 18.75 17.5M15.125 17.5H18.75M15.125 17.5V20M18.75 17.5Lnan nanCnan nan nan nan nan nanLnan nanCnan nan nan nan nan nanL18.75 17.5ZM5 11H19C20.1046 11 21 10.1046 21 9V6C21 4.89543 20.1046 4 19 4H5C3.89543 4 3 4.89543 3 6V9C3 10.1046 3.89543 11 5 11Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <circle cx="7.5" cy="7.5" r="1.5" fill="currentColor"/>
        <circle cx="12" cy="7.5" r="1.5" fill="currentColor"/>
        <circle cx="16.5" cy="7.5" r="1.5" fill="currentColor"/>

      </svg>
    </div>

    <div class="w-7 mr-2 transform dark:hover:text-[#56BDED] hover:text-[#386097] text-[#386097] dark:text-[#56BDED] hover:scale-110" title="Logout" (click)="onLogoutClick()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M2 6.5C2 4.01472 4.01472 2 6.5 2H12C14.2091 2 16 3.79086 16 6V7C16 7.55228 15.5523 8 15 8C14.4477 8 14 7.55228 14 7V6C14 4.89543 13.1046 4 12 4H6.5C5.11929 4 4 5.11929 4 6.5V17.5C4 18.8807 5.11929 20 6.5 20H12C13.1046 20 14 19.1046 14 18V17C14 16.4477 14.4477 16 15 16C15.5523 16 16 16.4477 16 17V18C16 20.2091 14.2091 22 12 22H6.5C4.01472 22 2 19.9853 2 17.5V6.5ZM18.2929 8.29289C18.6834 7.90237 19.3166 7.90237 19.7071 8.29289L22.7071 11.2929C23.0976 11.6834 23.0976 12.3166 22.7071 12.7071L19.7071 15.7071C19.3166 16.0976 18.6834 16.0976 18.2929 15.7071C17.9024 15.3166 17.9024 14.6834 18.2929 14.2929L19.5858 13L11 13C10.4477 13 10 12.5523 10 12C10 11.4477 10.4477 11 11 11L19.5858 11L18.2929 9.70711C17.9024 9.31658 17.9024 8.68342 18.2929 8.29289Z" fill="currentColor"/>
      </svg>
    </div>
  </div>
<div class="userCircle dark:bg-[#56BDED] bg-[#386097] flex justify-center items-center mt-5 shadow-lg" >
  @if (! this.urlPic || this.urlPic==='null'){
    <span class="text-white text-7xl">
    {{userService.getUser().firstName.charAt(0).toUpperCase()+userService.getUser().lastName.charAt(0).toUpperCase()}}
  </span>
  } @else {
    <img class="w-36 h-36 rounded-full" [src]='urlPic' alt="Rounded avatar" style="object-fit: cover;">
  }
  <div class="editBtn w-fit p-2 mr-2 transform text-[#386097] dark:text-[#56BDED] hover:scale-110 rounded-full bg-gray-300" (click)="fileInput.click()">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
    </svg>
  </div>
  <input type="file" #fileInput (change)="uploadFile($event)" style="display: none;"/>
</div>
<div class="userName text-2xl mt-2.5">
  {{userService.getUser().fullName}}
 </div>
 <div class="text-xl mt-2.5">
   ({{userService.getUser().unit.name}}/{{userService.getUser().position.name}})
 </div>
</section>
<div class="container mx-auto p-6 dark:bg-gray-600 h-full">
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3">
        ID
      </th>
      <th scope="col" class="px-6 py-3">
        Date
      </th>
      <th scope="col" class="px-6 py-3">
        Service
      </th>
      <th scope="col" class="px-6 py-3">
        Subservice
      </th>
      <th scope="col" class="px-6 py-3">
        Client
      </th>
      <th scope="col" class="px-6 py-3">
        Legal Entity
      </th>
      <th scope="col" class="px-6 py-3">
        BD Consultant
      </th>
      <th scope="col" class="px-6 py-3">
        Flow status
      </th>
      <th scope="col" class="px-6 py-3">
        Status
      </th>
    </tr>
    </thead>
    <tbody>
      @for (deal of dealList; track deal) {
        <tr (click)="onDealClick(deal)"
            class="hover:cursor-pointer odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700 dark:hover:bg-gray-700 hover:bg-gray-100" >
          <th scope="row" class="px-6 py-4 text-[#386097] font-bold whitespace-nowrap dark:text-[#56BDED]">
            {{ deal.ID }}
          </th>
          <td class="px-6 py-4">
            {{ deal.createdDate | date:'dd.MM.yyyy'}}
          </td>
          <td class="px-6 py-4">
            {{ deal.service.name }}
          </td>
          <td class="px-6 py-4">
            {{ deal.subservice.name }}
          </td>
          <td class="px-6 py-4">
            {{ deal.client.name }}
          </td>
          <td class="px-6 py-4">
            {{ deal.legalEntity.shortName }}
          </td>
          <td class="px-6 py-4">
            @if(deal.BDOwner.profilePicUrl){
              <img class="w-6 h-6 rounded-full inline-block" [src]='deal.BDOwner.profilePicUrl' alt="Rounded avatar" style="object-fit: cover;">
            }

            {{ deal.BDOwner.firstName +" "+ deal.BDOwner.lastName }}
          </td>
          <td class="px-6 py-4">
            {{ deal.flowStatus.name }}
          </td>
          <td class="px-6 py-4">
            {{ deal.status.name }}
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
</div>
