<div class="hover:cursor-pointer w-full flex justify-between p-3 bg-white border border-gray-200 rounded-lg shadow
  dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-700" (click)="onStepClick();">
  <div class="pt-1">
    <span class="mt-6">{{approvalStep.stepOrder+'.'}}</span>
    @if(approvalStep.user.profilePicUrl){
      <img class="ml-2 w-6 h-6 rounded-full inline-block" [src]='approvalStep.user.profilePicUrl' alt="Rounded avatar" style="object-fit: cover;">
    } @else {
      <img class="ml-2 w-6 h-6 rounded-full inline-block" src='./assets/profile.png' alt="Rounded avatar" style="object-fit: cover;">
    }

    {{ approvalStep.user.firstName+' '+approvalStep.user.lastName }}
    <span *ngIf="approvalStep.comment">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 inline text-orange-500">
  <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 0 1 .865-.501 48.172 48.172 0 0 0 3.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
</svg>
  </span>
    @if (approvalStep.statusID>1){
      <p class="statusDate">{{ approvalStep.statusChangeDate | date: 'MMM d, y' }} at {{ approvalStep.statusChangeDate | date: 'h:mm a' }}</p>
    }
  </div>
  <div>
    <div class="w-8 mr-2 transform text-[#ffcc00]" *ngIf="approvalStep.statusID===1">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
      </svg>
    </div>
    <div class="w-8 mr-2 transform text-[#5ce65c]" *ngIf="approvalStep.statusID===2">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />

      </svg>
    </div>
    <div class="w-8 mr-2 transform text-[#F2886D]" *ngIf="approvalStep.statusID===3">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
      </svg>
    </div>

    <div class="w-8 mr-2 transform text-gray-500 dark:text-gray-300" *ngIf="approvalStep.statusID===4">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
      </svg>
    </div>
  </div>
</div>
