<div class="wrapper">
  <div class="circle bg-[#466ea5] dark:bg-[#6887b6]"></div>
  <div class="circle bg-[#6390c6] dark:bg-[#81a4d2]"></div>
  <div class="circle bg-[#6e8f82] dark:bg-[#8aa49a]"></div>
  <div class="circle bg-[#ab404b] dark:bg-[#b96767]"></div>
  <div class="circle bg-[#e77b22] dark:bg-[#ed9e59]"></div>
  <div class="shadow bg-[#83858b] dark:bg-[#a3a5aa]"></div>
  <div class="shadow bg-[#83858b] dark:bg-[#a3a5aa]"></div>
  <div class="shadow bg-[#83858b] dark:bg-[#a3a5aa]"></div>
  <div class="shadow bg-[#83858b] dark:bg-[#a3a5aa]"></div>
  <div class="shadow bg-[#83858b] dark:bg-[#a3a5aa]"></div>
</div>
