<div class="cont h-full w-full dark:bg-gray-600 py-6 text-gray-400 dark:text-neutral-100 text-xs xl:text-base">
  <div class="pb-6 flex justify-center">
    <h2 class="text-center mt-3 text-xl">Comments</h2>
  </div>
  <div class="p-6">
    <form [formGroup]="commentForm">
    <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Commnet</label>
    <textarea formControlName="commentText" id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your comment here..."></textarea>
    </form>
    <div class="flex flex-column justify-end mt-3">
    <div class="w-8 mr-2 transform hover:text-[#386097] dark:hover:text-[#56BDED] hover:scale-110 inline-block" (click)="sendComment();">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5" />
      </svg>
    </div>
    </div>

    <hr class="my-6 h-0.5 border-t-0 bg-neutral-100 opacity-100 dark:opacity-50"/>

    <div class="flex items-start gap-2.5 mt-3" *ngFor="let comment of project.comments">
      <img class="w-8 h-8 rounded-full" [src]=comment.picUrl alt="user image" style="object-fit: cover;">
      <div
        class="commentWraper flex flex-col max-w-[520px] leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-700">
        <div class="flex items-center space-x-2 rtl:space-x-reverse">
              <span
                class="text-sm font-semibold text-gray-900 dark:text-white">{{ comment.userName }}</span>
          <span
            class="text-sm font-normal text-gray-500 dark:text-gray-400">{{ comment.createdDate | date:'dd.MM.yyyy HH:mm' }}</span>
        </div>
        <p
          class="commentText text-sm font-normal pt-2.5 text-gray-900 dark:text-white">{{ comment.comment }}</p>
      </div>

  </div>

</div>
